<!DOCTYPE html>
<html>
<head>
  <title>Auth0 rails engine</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "auth0_rails_engine/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
